@import url('https://fonts.googleapis.com/css2?family=Anta&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Sacramento&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size:16px;
    font-family: 'Open Sans';
    --tp:#ffffff;
    --ts:#676767;
    --bgp:#000a15;
    --bgs:#000000;
    --bgt:#6649b8;
    scroll-behavior: smooth;

}

body{
    color:white;
    margin: 0;
    padding: 0;
    background-color: var(--bgp);
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background:#1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
main{
    margin-left: 5rem;
}
